### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

# Combine the data into a single dataset.  
school_student_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# Set up passing courses booleans using integers
passing_math = []
passing_reading = []
passing_overall = []

i = 0
while i < len(school_student_data):
    if ((school_student_data["math_score"][i] >= 70) & (school_student_data["reading_score"][i] >= 70)):
        passing_math.append(1)
        passing_reading.append(1)
        passing_overall.append(1)
    elif ((school_student_data["math_score"][i] >= 70) & (school_student_data["reading_score"][i] < 70)):
        passing_math.append(1)
        passing_reading.append(0)
        passing_overall.append(0)
    elif ((school_student_data["math_score"][i] < 70) & (school_student_data["reading_score"][i] >= 70)):
        passing_math.append(0)
        passing_reading.append(1)
        passing_overall.append(0)
    else:
        passing_math.append(0)
        passing_reading.append(0)
        passing_overall.append(0)
    i += 1


school_student_data["passing_reading"] = passing_reading
school_student_data["passing_math"] = passing_math
school_student_data["passing_overall"] = passing_overall

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Total number of schools
schools_total = pd.DataFrame(school_student_data["school_name"].unique()).count()[0]

In [4]:
# Total number of students
students_total = school_student_data["student_name"].count()

In [5]:
# Total budget
budget_total = school_student_data["budget"].unique().sum()

In [6]:
# Average math score
math_score_ave = school_student_data["math_score"].mean()

In [7]:
# Average reading score
reading_score_ave = school_student_data["reading_score"].mean()

In [8]:
# Percentage of students with a passing math score
stu_math_pass_total = school_student_data[school_student_data["math_score"] >= 70].count()["math_score"]

stu_math_pass_per = (stu_math_pass_total/students_total) * 100

In [9]:
# Percentage of students with a passing reading score
stu_reading_pass_total = school_student_data[school_student_data["reading_score"] >= 70].count()["reading_score"]

stu_reading_pass_per = (stu_reading_pass_total/students_total) * 100

In [10]:
# Percentage of students who passed math and reading
stu_overall_pass_total = school_student_data[(school_student_data["math_score"] >= 70) & \
                                             (school_student_data["reading_score"] >= 70)].count()["student_name"]

stu_overall_pass_per = (stu_overall_pass_total/students_total) * 100

In [11]:
# Display data from above as a dataframe
district_summary_dict = {"Total Schools" : [schools_total], "Total Students" : [students_total],\
                        "Total Budget" : [budget_total], "Average Math Score" : [math_score_ave],\
                        "Average Reading Score" : [reading_score_ave], "% Passing Math" : [stu_math_pass_per],\
                        "% Passing Reading" : [stu_reading_pass_per], "% Overall Passing" : [stu_overall_pass_per]}

district_summary_pd = pd.DataFrame(data = district_summary_dict)

district_summary_pd["Total Students"] = district_summary_pd["Total Students"].apply(lambda x: "{:,}".format(x))

district_summary_pd["Total Budget"] = district_summary_pd["Total Budget"].apply(lambda x: "${:,.2f}".format(x))

district_summary_pd

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
# Create school summary groupby
school_summary_groupby = school_student_data.groupby(["school_name"])

In [13]:
# Determine school type of each school
type_of_school = school_summary_groupby.last()["type"]

In [14]:
# Determine how many students there are per school
students_per_school = school_summary_groupby.count()["Student ID"]

In [15]:
# Determine each school's budget
budget_of_school = school_summary_groupby.last()["budget"]

In [16]:
# Determine per student budget per school
per_student_budget = budget_of_school/students_per_school

In [17]:
# Determine average math score per school
avg_math_per_school = school_summary_groupby.mean()["math_score"]

In [18]:
# Determine average reading score per school
avg_reading_per_school = school_summary_groupby.mean()["reading_score"]

In [19]:
# Determine % passing in math per school
percent_passing_math_per_school = (school_summary_groupby.sum()["passing_math"] /\
                                   school_summary_groupby.count()["passing_math"]) * 100

In [20]:
# Determine % passing in reading per school
percent_passing_reading_per_school = (school_summary_groupby.sum()["passing_reading"] /\
                                   school_summary_groupby.count()["passing_reading"]) * 100

In [21]:
# Determine % passing over per school
percent_passing_overall_per_school = (school_summary_groupby.sum()["passing_overall"] /\
                                   school_summary_groupby.count()["passing_overall"]) * 100

In [22]:
# Put all school summary data in a data frame
school_summary_dict = {"School Type" : type_of_school, "Total Students" : students_per_school,\
                      "Total School Budget" : budget_of_school, "Per Student Budget" : per_student_budget,\
                      "Average Math Score" : avg_math_per_school, "Average Reading Score" : avg_reading_per_school,\
                      "% Passing Math" : percent_passing_math_per_school,\
                      "% Passing Reading" : percent_passing_reading_per_school,\
                      "% Overall Passing" : percent_passing_overall_per_school}

school_summary_df = pd.DataFrame(school_summary_dict)
school_summary_df.index.name = None

school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].apply(lambda x: "${:,.2f}".format(x))
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].apply(lambda x: "${:,.2f}".format(x))

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type